{% extends 'main.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card border-danger mb-3" style="max-width: 25rem;">
            <form class="form" method="POST" action="">
                {% csrf_token %}
                <div class="card-header">Eliminar</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">¿Está seguro de que desea eliminar "{{post.titulo}}"?</h5>
                    <input class="btn btn-danger" type="submit" value= "Confirmar">
                    <a type="button" class="btn btn-secondary" href="{{request.GET.next}}">Volver</a>
                </div>
            </form>
          </div>          
    </div>
</div>

{% else %}

Página no encontrada

{% endif %}

{% endblock %}