{% extends "main.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-8">
            {% for field in form %}
            <br>
            <label class="form-label">{{field.label}}:</label>
            <br>
            {{form.media}}
            {{field}}
            <br>
            {% endfor %}
        </div>
        
        <br>
        {% if update == 1 %}
        <button type="submit" class="btn btn-primary">Actualizar</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Crear</button>
        {% endif %}
        <br>
    </div>
    
</form>

{% else %}

Página no encontrada.

{% endif %}

{% endblock content %} 

